body {
    background: rgb(24, 1, 63);
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

header {
    display:flex;
    position:sticky;
    width:100%;
    margin:0;
    top:0;
    padding:0;
    z-index:1;

    animation: barra-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 15%;

}

@keyframes barra-header {
    to {
        background: hwb(260 70% 12% / 0.87);
        backdrop-filter: blur(5px);
        color:rgb(0, 1, 1);
    }
}

header img{
    height:53px;
    width:53px;
    box-sizing:border-box;
    user-select:none;
    animation:img-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 15%;
}

@keyframes img-header {
    to {
        height:39px;
        width:39px;
    }
}

header button {
    display:flex;
    border:none;
    background:none;
    cursor: pointer;
    padding: 0;
    margin:0;
    margin-top:2px;
    margin-left:50px;
    gap:40px;
    clip-path: circle(50%);
    z-index:1;
}
header button:hover {
    scale:1.15;
    box-shadow:0 0 1px rgba(246, 224, 223, 0.862);
}

header h1 {
    flex:1;
    color:rgba(246, 224, 223, 0.862);
    margin:0;
    z-index: 1;
    text-indent: -169px;
    text-align:center;
    font-size:40px;

    animation:font-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 15%;
}

@keyframes font-header {
    to {
        font-size:30px;
        color:black;
    }
}

section {
    columns:4;
    padding:25px 50px;
    column-gap:32px;
}

section img {
    width:100%;
    height:auto;
    border-radius:10px;
    margin: 0 auto 16px auto;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
    user-select:none;
}

@media (max-width: 1000px) {
    header h1{
        margin-top:7px;
        text-indent:-123px;
        font-size:25px;
    }
    header button {
        margin-left:20px;
        gap: 25px;
    }
    section {
        columns: 3;
        padding:20px 30px;
        column-gap:25px;
    }
    @keyframes font-header {
        to {
            margin-top:0px;
            font-size:27px;
            color:black;
            text-indent:-123px;
        }
    }
}

@media (max-width: 700px) {
    header h1{
        margin-top:7px;
        font-size:27px;
        text-indent:-50px;
    }
    header button {
        margin-left:10px;
        gap: 15px;
    }
    section {
        columns: 2;
        padding:15px 20px;
        column-gap:15px;
    }
    @keyframes font-header {
        to {
            margin-top:0px;
            font-size:27px;
            color:black;
            text-indent:-50px;
        }
    }
}


@keyframes reveal {
    from {
        opacity:0;
        translate:0 100px;
        scale:0.5;
    }  
    to {
        opacity:1;
        translate:0 0px;
        scale:1;
    }

}

footer {
    position: relative;
    bottom:0;
    left:0;
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background: rgb(50, 14, 113);
}

footer p {
    font-size:25px
}
